main {
    z-index: 3;
    width: 100%;
    height: 100vh;
}

section{
    width: 100%;
    height: 100%;
}


.logo__header,
.logo_header.scrolled {
    width: 19.8%;
}


body {
    background-color: var(--white)
}



.modal-pai {
    position: absolute;

    height: 60%;
    width: 564px;


    top: 48%;
    left: 17%;
    transform: translate(-50%, -50%);
    z-index: 2;

    animation: sliderRevealCenter 0.5s ease forwards;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #f2f2f2;

    border-radius: 10px;
}



.modal-pai_2 {
    position: absolute;

    height: 60%;
    width: 564px;

    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    animation: sliderRevealCenter 0.5s ease forwards;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #f2f2f2;

    border-radius: 10px;
}


.modal-pai_3 {
    position: absolute;

    height: 60%;
    width: 564px;

    top: 48%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 2;

    animation: sliderRevealCenter 0.5s ease forwards;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #f2f2f2;

    border-radius: 10px;
}

h1 {
    margin-bottom: 1rem;
}

button {
    padding: .6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .9;
    font-size: 1rem;
    transition: 0.4s;
}

#openModal,
#openModal_2,
#openModal_3 {
    background-color: #007bff;
}

button:hover {

    opacity: 0.8;
}

#fade,
#fade_2,
#fade_3 #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#fade,
#fade_2,
#fade_3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#modal {
    position: absolute;


    height: 100%;
    width: 100%;


    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #f2f2f2;

    border-radius: 10px;

   

}

#modal_2 {
    position: absolute;

    height: 100%;
    width: 100%;

    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #f2f2f2;

    border-radius: 10px;
}

#modal_3 {
    position: fixed;

    height: 100%;
    width: 100%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-body p {
    margin-bottom: 1rem;
}

#modal.hide,
#modal_2.hide,
#modal_3.hide,
#fade.hide,
#fade_2.hide,
#fade_3.hide {
    opacity: 0;
    pointer-events: none;
    height: 90%;
    margin-top: 10%;
}

#modal.hide,
#modal_2.hide,
#modal_3.hide {
    top: 0;
}


.profile-name{

   font-family: "roboto";
    font-weight: 700;
    font-size: 19px;
    margin-right: 10px;
    color: #262626;
}

#a_restaurante_txt, #b_restaurante_txt, #c_restaurante_txt {
    font-family: "roboto";
    font-size: 16px;
    margin-right: 10px;
    color: #262626;
}



.post {
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    z-index: 5;
}

.post-top {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
    align-items: center;
}

.post-caixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.verificado {
    width: 20px;
    height: 20px;
    margin-right: 21px;
}

.img-profile-icon {
    border-radius: 18px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}


.post-content {
    display: flex;
    height: 80%;
    width: 564px;

    background-color: black
}

.posttxt {
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 0 4px 0 4px;
}

.post-interact {
    margin-top: 20px;
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.img-post {
 
    width: 500px;

    margin-left: 30px;

    object-fit: contain;
    object-position: center;
}


.icon-heart {
    width: 24px;
    height: 24px;

}


.icon-other {
    width: 22px;
    height: 22px;
}

.caixa-modal{
    display: block;
    display: flex;
  justify-content: center;
}

.caixa-modal button {
    left: 20%;
    top: 50%;
}

.testetxt {
    z-index: 50;
}