/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --bg-color: #F4EDE4;
    --font-color: black;
    --highlight-color: red;
    --text-font: 'Carlito', sans-serif;
    --title-font: 'Capriola', sans-serif;
    --subtitle-font: 'Nanum Brush Script', cursive;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--text-font);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--highlight-color);
}

.space {
    height: 30px;
}

.space-big {
    height: 73px;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.slider {
    height: 150px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}

.slider::before,
.slider::after {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    content: "";
}

.slider::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.slider::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.slider-banner {
    display: inline-block;
    animation: 40s slide infinite linear;
    position: relative;
}

.slider-banner img {
    height: 100px;
    margin: 0 30px;
}

/* Image Container */
.img-container,
.img-container2,
.past-img,
.coml-img,
.modern-img,
.invitation__video {
    position: relative;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.img-container img,
.img-container2 img,
.past-img img,
.modern-img img,
.invitation__video video {
    width: 100%;
    height: auto;
    display: block;
}

.img-container p,
.img-container2 p,
.past-img p,
.modern-img p {
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}

.img-container {
    width: 28%;
}

.img-container2 {
    width: 25%;
}

.past-img {
    width: 27%;
}

.coml-img {
    width: 25%;
}

.modern-img {
    width: 55%;
}

/* Content Sections */
.kfc-story,
.modern-story,
.invitation__story {
    background-color: #f2f2f2;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 60%;
}

.kfc-story h1,
.modern-story h1,
.invitation__story h1 {
    color: var(--highlight-color);
    font-family: var(--title-font);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.kfc-story p,
.modern-story p,
.invitation__story p {
    font-family: var(--text-font);
    font-size: 1rem;
    text-align: justify;
    margin: 20px 0;
}

/* Invitation Button */
.invitation__story button {
    background-color: var(--highlight-color);
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.invitation__story button:hover {
    transform: scale(1.1);
}

/* Slider Animation */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

footer {
    height: 10vh;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
}

#contact {
    display: flex;
    gap: 20px;
}

#contact a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#mensagemFooter {
    text-align: center;
    font-family: var(--subtitle-font);
    font-size: 2rem;
}

.smleee {
    width: 80px;
    height: 80px;
}