


html {

    scroll-behavior: smooth;

}

body {
    background-color: #F4EDE4;
}


a:visited {
    color: black;
}

a:hover {
    color: #000000;
}



.div__space {
    height: 30px;
}

.div__spaceBig {
    height: 73px;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;

}


.slider {
    height: 150px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}

.slider {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

.slider::before,
.slider::after {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    content: "";
    /* z-index: 2; */
}

.slider::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.slider::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.slider-banner {
    display: inline-block;
    animation: 40s slide infinite linear;
}


.slider-banner {
    position: relative;
}

.slider-banner img {
    height: 100px;
    margin: 0 30px;


}

.content__kfcimg {
    position: relative;
    display: flex;
    flex-direction: column;


    width: 28%;

    margin: 30px -10px;
    left: 30px;

    position: absolute;
    z-index: 1;

}

.content__kfcimg img {
    margin-top: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border-radius: 5px;

}

.content__kfcimg p {

    font-size: 15px;
    font-style: italic;

    margin-top: 10px;
    margin-right: 70px;

}


.content__kfcimg2 {
    position: relative;
    display: flex;
    flex-direction: column;


    width: 25%;

    margin: 110px -20px;
    right: 30px;
    

    position: absolute;
    z-index: 1;

}

.content__kfcimg2 img {
    margin-top: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border-radius: 5px;

}

.content__kfcimg2 p {

    font-size: 15px;
    font-style: italic;

    margin-top: 10px;
    margin-right: 70px;

}



.content__kfcstory {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 500px;
    min-height: 300px;

    background-color: #f2f2f2;

    margin: 0 auto;
    position: relative;
    /* z-index: 1; */
    padding-left: 5%;


    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.content__kfcstory h1 {

    color: red;
    font-family: var(--tituloCorpo);

    font-style: normal;
    font-size: 65px;

    align-self: center;

    margin-top: 30px;
}

.content__kfcstory p {

    font-family: var(--textoCorpo);
    font-style: normal;

    font-size: 23px;

    margin-left: auto;
    margin: 20px 30px 0 0;

    text-align: center;


}


.content__pastimg {

    display: flex;
    flex-direction: column;
    width: 27%;

    right: 30px;

    margin-top: -65px;


    position: absolute;
    z-index: 1;

}


.content__pastimg img {

    border-radius: 5px;
}

.content__pastimg p {

    font-size: 15px;
    font-style: italic;

    margin-top: 10px;
    margin-right: 5px;

    text-align: start;
}



.content__pastStory {


    width: 40%;
    height: 640px;
    min-height: 300px;

    position: relative;
    /* z-index: 1; */

    margin: 0 10px;
    padding-top: 1.5%;
    padding-left: 0.8%;
    left: 28%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #f2f2f2;

    border-radius: 10px;


}

.content__pastStory p {
    font-family: var(--textoCorpo);
    font-style: normal;

    font-size: 23px;



    align-self: flex-start;
    margin-left: auto;
    margin: 1px 30px 0 0;


    text-align: start;
}

.content__comlimg {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 25%;

    margin: 290px -10px;
    left: 40px;


    position: absolute;
    /* z-index: 1; */


}

.content__comlimg img {
    margin-top: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border-radius: 10px;

}

.content__comlimg p {

    font-size: 15px;
    font-style: italic;

    margin-top: 10px;
    margin-right: 70px;
}

.content__modernimg {


    width: 55%;
    height: 55%;

    margin-top: 80px;
    left: -12%;


    position: absolute;
    /* z-index: 1; */


}

.content__modernimg img {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.content__modernimg p {

    width: 35%;
    height: 45%;


    font-size: 15px;
    font-style: italic;

    margin-top: 10px;
    margin-left: 300px;


}



.content__modernstory {
    display: flex;
    flex-direction: column;


    width: 50%;
    height: 450px;
    min-height: 300px;

    background-color: #f2f2f2;

    margin: 0 auto;

    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 1.5%;
    position: relative;
    /* z-index: 1; */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border-radius: 10px;

}


.content__modernstory p {

    font-family: var(--textoCorpo);
    font-style: normal;

    font-size: 23px;

    margin-left: auto;
    margin: 20px 20px 0 0;

    text-align: start;

}


.story{
    position: absolute;

    top: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 40%;
    
   

    z-index: 5;
}

.img_story  img {
   
    width: 300px;
    z-index: 3;
}

.story h1{

    color: red;
    font-family: var(--tituloCorpo);

    font-style: normal;
    font-size: 65px;

    align-self: center;

    margin-top: 30px;
}

.story p{
    font-family: var(--textoCorpo);
    font-style: normal;

    font-size: 23px;

  margin: 20px 30px 0 0;

    text-align: center;
}


.invitation {
    display: flex;
    flex-direction: column;

    width: 55%;
    min-height: 300px;

    margin: 0 auto;
    position: relative;
    /* z-index: 1; */
    padding-left: 5%;


    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    border: 5px solid red;
    ;

}

.invitation__story {
    display: flex;
    flex-direction: column;

    height: 26vh;

}

.invitation__video {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 65%;


    margin: -40px -10px;
    left: -250px;

    position: absolute;
    z-index: 1;


}

.invitation__video video {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.invitation__story h1 {
    font-family: var(--tituloCorpo);
    font-style: normal;
    font-size: 40px;


    text-align:end;
    margin-right: 10px;
  
}

.invitation__story p {
    font-family: var(--textoCorpo);
    font-size: 15px;
    font-style: italic;

    width: 52%;

    margin-top: 10px;
    margin-left: 360px;


}

.invitation__story button {
    background-color: #FF0000;
    color: #FFFFFF;

    padding: 10px 20px;

    width: 25%;
    height: 25%;

    transition: width 0.5s ease, height 0.5s ease; 

    margin-top: 20px;
    margin-left: 480px;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.invitation__story button:hover {
    background-color: #F00;

    transform: scale(1.2)
    
}



@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%)
    }
}

footer {
    height: 10vh;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;

    border-top: 1px solid #ccc;
  
  }


  #contact{
   gap:60px
  }
  
#mensagemFooter{
   text-align: center;
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-size: 60px;
}

  .smleee{
    width: 80px;
    height: 80px;
  }

  .abtmsgs{
    font-size: 15px;
  }

  .ods{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;

    

    z-index:5;

  }

  .ods img{
    height: 80%;
    width: 80%;

  }